<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form th:method="POST" th:action="@{/vinyl}" th:object="${vinyl}">
    <label for="album">Enter Album ID</label>
    <input type="text" th:field="*{album}" id="album"/>
    <br>
    <input type="submit" value="Add new Vinyl"/>
</form>

</body>
</html>