<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Album</title>
</head>
<body>
<p th:text="${album.getAlbum()}">VALUE</p>
<p th:text="${album.getId()}">VALUE</p>

<a th:href="@{/vinyl/{id}/edit(id=${album.getId()})}">Edit</a>

<br/>

<a th:href="@{/cart/add}">Add To Cart</a>

<form th:method="DELETE" th:action="@{/vinyl/{id}(id=${album.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>